* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:  Arial, 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  background: #333;
  height: 100%;
}

.container {
  padding: 0 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

.btn {
  display: inline-block;
  background: darkcyan;
  border: none;
  cursor: pointer;
  color: darkmagenta;
}

.btn:hover {
  background: cyan;
  color: magenta;
}